
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.jumbotron { 
	height: 500px ;
	padding-top: 75px !important; 
    padding-bottom: 50px !important; 
	background-image: 
	url("http://northside2.aaps.k12.mi.us/windeng/panorama.jpg");
	background-size: 1245px 495px; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-color: #f7f7f7 !important; 
} 


@media (min-width: 1001px){
  .jumbotron {
    background-size: 100% !important;
  }


.jumbotron h1{	
	color: #FFF; 
	text-align: left;
	font-size: 48px; 
	font-weight: bold; 
	font-family: 'Shift', sans-serif; 
}


.jumbotron .container{ 
	position: relative; 
	top: 100px; 
}

.learn-more { 
    background-color: #f7f7f7; 
} 
.learn-more h3{ 
	font-family: 'Shift', sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
}

.learn-more a{ 
    color:#00b0ff; 
} 

.bottom{ 
	background-color: #f7f7f7;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer { 
	font-size: 12px !important; 
}

